<a href="#top" class="arrow-link"
  ><img
    class="footer__arrow"
    src="./assets/images/ico-arrow.svg"
    alt="Icono de flecha apuntando hacia arriba"
/></a>

<div class="footer">
  <nav class="menu">
    <ul class="menu__list">
      <li><a class="menu__list--item" href="https://adalab.es">articles</a></li>
      <li><a class="menu__list--item" href="https://adalab.es">books</a></li>
      <li><a class="menu__list--item" href="https://adalab.es">events</a></li>
      <li><a class="menu__list--item" href="https://adalab.es">reasons</a></li>
      <li><a class="menu__list--item" href="https://adalab.es">tips</a></li>
    </ul>
  </nav>
  <nav class="menu">
    <ul class="menu__list social">
      <li><a class="menu__list--item" href="https://adalab.es">twitter</a></li>
      <li>
        <a class="menu__list--item" href="https://adalab.es">instagram</a>
      </li>
      <li>
        <a class="menu__list--item" href="https://adalab.es">mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="copy">
    <small class="copy__year">&copy; 2023</small>
    <p class="copy__text">we 🧡 components</p>
  </div>
</div>
