<!-- <div class="footer__container">
  <div class="centralColumn">
    <figure class="footer__img">
      <img
        class="footer__img--icon"
        src="./assets/images/ico-arrow.svg"
        alt="Icono de una flecha apuntando hacia arriba"
      />
    </figure>
    <nav class="footer__menu">
      <ul class="footer__menu--list">
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >articles</a
          >
        </li>
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >books</a
          >
        </li>
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >events</a
          >
        </li>
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >reasons</a
          >
        </li>
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__menu">
      <ul class="footer__menu--list">
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >twitter</a
          >
        </li>
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >instagram</a
          >
        </li>
        <li class="list-item">
          <a class="list-link" href="https://adalab.es" target="_blank"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <section class="footer__section">
      <p class="footer__section--copy">&copy; 2023</p>
      <p class="footer__section--love">we🧡components</p>
    </section>
  </div>
</div> -->

<div class="footer">
  <div class="centralColumn">
    <section div="footer__section">
      <figure class="footer__section--img">
        <img
          src="./assets/images/ico-arrow.svg"
          alt="Icono de una flecha apuntando hacia arriba"
        />
      </figure>
      <nav class="footer__section--nav">
        <ul>
          <li><a href="https://adalab.es">articles</a></li>
          <li><a href="https://adalab.es">books</a></li>
          <li><a href="https://adalab.es">events</a></li>
          <li><a href="https://adalab.es">reasons</a></li>
          <li><a href="https://adalab.es">tips</a></li>
        </ul>
      </nav>
      <nav class="footer__section--nav">
        <ul>
          <li><a href="https://adalab.es">twitter</a></li>
          <li><a href="https://adalab.es">instagram</a></li>
          <li><a href="https://adalab.es">mastodon.social</a></li>
        </ul>
      </nav>
      <article class="footer__section--copy">
        <p>&copy; 2023</p>
        <p>we🧡components</p>
      </article>
    </section>
  </div>
</div>
