<figure class="footer__img">
  <img
    class="footer__img--icon"
    src="./assets/images/ico-arrow.svg"
    alt="Icono de una flecha apuntando hacia arriba"
  />
</figure>
<nav class="footer__menu">
  <ul class="footer__menu--list">
    <li class="list-item">articles</li>
    <li class="list-item">books</li>
    <li class="list-item">events</li>
    <li class="list-item">reasons</li>
    <li class="list-item">tips</li>
  </ul>
</nav>
<nav class="footer__menu">
  <ul class="footer__menu--list">
    <li class="list-item">twitter</li>
    <li class="list-item">instagram</li>
    <li class="list-item">mastodon.social</li>
  </ul>
</nav>
<section class="footer__section">
  <p class="footer__section--copy">&copy; 2023</p>
  <p class="footer__section--love">
    we
    <img
      class="orange-heart"
      src="./assets/images/ico-orange-heart.png"
      alt="Icono de un corazón naranja"
    />
    components
  </p>
</section>
