<figure class="header__menu">
  <img
    class="header__menu--icon"
    src="./assets/images/ico-menu.svg"
    alt="Icono de menú"
  />
</figure>
<section class="header__section">
  <h1 class="header__section--title">anonymous proxy</h1>
  <p class="header__section--title">in hac habitasse platea dictumst.</p>
</section>
<figure class="header__scroll">
  <img
    class="header__scroll--icon"
    src="./assets/images/ico-scroll-down.svg"
    alt="Icono de flecha apuntando hacia abajo"
  />
</figure>
