<section class="hero" id="top">
  <div class="centralColumn">
    <article class="hero__section">
      <h1 class="hero__section--title">anonymous proxy</h1>
      <p class="hero__section--text">In hac habitasse platea dictumst.</p>
      <a href="#section2" class="hero__section--scroll">
        <img
          class="scroll-img"
          src="./assets/images/ico-scroll-down.svg"
          alt="Icono de flecha apuntando hacia abajo"
      /></a>
    </article>
  </div>
</section>
