<section class="section2" id="section2">
  <div class="centralColumn">
    <h2 class="section2__title">3 reasons to purchase</h2>
    <div class="section2__grid">
      <article class="row">
        <h3 class="row__title"><span class="caps">ut</span> sed metus</h3>
        <p class="row__text">
          <span class="caps">lorem</span>ipsum dolor sit amet, consecteur.
        </p>
      </article>
      <article class="row">
        <h3 class="row__title"><span class="caps">curabitur</span> ac erat</h3>
        <p class="row__text">
          <span class="caps">lorem</span> mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="row">
        <h3 class="row__title"><span class="caps">morbi</span> dictum</h3>
        <p class="row__text">
          <span class="caps">aliquam</span> in dolor et dolor tincidunt.
        </p>
      </article>
    </div>
    <div class="section2__button">
      <a class="section2__button--link" href="https://adalab.es"
        ><span class="caps">more</span> reasons</a
      >
    </div>
  </div>
</section>
