<h2 id="section2" class="section2__title">3 reasons to purchase</h2>
<article class="section2__article">
  <h3 class="section2__article--title">ut sed metus</h3>
  <p class="section2__article--text">Lorem ipsum dolor sit amet consectetur.</p>
</article>
<article class="section2__article">
  <h3 class="section2__article--title">curabitur ac erat</h3>
  <p class="section2__article--text">mauris mattis urna quis lorem molestie.</p>
</article>
<article class="section2__article">
  <h3 class="section2__article--title">morbi dictum</h3>
  <p class="section2__article--text">Aliquam in dolor et dolor tincidunt.</p>
</article>
<a class="section2__link" href="https://adalab.es" target="_blank"
  >more reasons</a
>
