// COLORES

$footerColor: #304268;
$greyColor: #4a4a4a;
$burgerColor: #0271bc;
$primaryColor: #ffffff;
$section2Color: #eff9ff;
$secondaryColor: #000000;
$accentColor: #f26002;
$translucent: #000000;
