// COLORES

$footerColor: #304268;
$greyColor: #4a4a4a;
$burgerColor: #0271bc;
$primaryColor: #ffffff;
$section2Color: #eff9ff;
$secondaryColor: #000000;
$accentColor: #f26002;
$translucent: #000000;
$subtitleColor: #8ccbea;

// FUENTES

$titleFont: 'Roboto Slab',
serif;
$textFont: 'Roboto',
sans-serif;

// INTERLINEADO

$lineHeight: 1.87rem;
