.footer {
    background-color: $footerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        background-color: $primaryColor;
        border-radius: 50px;
    }
}









