.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__section {
        text-align: center;
        color: $primaryColor;
        text-shadow: 0 2px 3px $translucent;
        padding-bottom: 20%;
        @media screen and (min-width: 768px) {
            padding-bottom: 8%;
        }
        @media screen and (min-width: 1024px) {
            padding-bottom: 4%;
        }
        &--title{
            font-family: $titleFont;
            text-transform: uppercase;
            font-size: 2.5rem;
            line-height: 3.4rem;
            @media screen and (min-width: 768px) {
                font-size: 5rem;
                line-height: 6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 6rem;
                line-height: 8rem;
            }
        }
        &--text{
            font-family: $textFont;
            margin-top: 3%;
            font-size: 1rem;
            padding-bottom: 20%;
            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
                padding-bottom: 8%;
            }
            @media screen and (min-width: 1024px) {
                margin-top: 0;               
            }
        }
        &--scroll {
            background-color: $primaryColor;
            border-radius: 50px;
            padding: 4%;
            @media screen and (min-width: 1024px) {
                padding: 2%;
            }
        }

        }
    }

    


    
    
