.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__section {
        text-align: center;
        color: $primaryColor;
        text-shadow: 0 2px 3px $translucent;
        font-family: $titleFont;
        &--title{
            text-transform: uppercase;
            font-size: 2.6rem;
            line-height: 3.4rem;
        }
        &--text{
            font-family: $textFont;
            margin-top: 3%;
            font-size: 1rem;
        }
    }
    &__scroll {
        background-color: $primaryColor;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin-top: 10%;
        margin-bottom: 10%;
        &--icon {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    }

    
    
