.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
    @media screen and (min-width: 768px) {
        padding-top: 5%;
        padding-bottom: 6%;
    }
    &__subtitle {
        color: $subtitleColor;
        text-transform: capitalize;
        font-family: $textFont;
        font-size: 0.9rem;
        padding-bottom: 2%;
    }
    &__title {
        text-transform: capitalize;
        font-family: $titleFont;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: $lineHeight;
        padding-bottom: 4%;
        @media screen and (min-width: 1024px) {
            font-size: 2rem;
            padding-bottom: 8%;
        }
    }
    &__text {
        font-family: $textFont;
        font-size: 1.12rem;
        line-height: $lineHeight;
        padding-bottom: 7%;
        @media screen and (min-width: 1024px) {
                font-size: 1.25rem;
            }
    }
    &__link {
        border: solid 2px $accentColor;
        border-radius: 50px;
        text-decoration: none;
        color: $accentColor;
        font-family: $titleFont;
        font-size: 1.25rem;
        padding: 2% 6%;
        display: inline-block;
        @media screen and (min-width: 1024px) {
            padding: 2% 12%;
        }
    }
}
